<html>
	<head>
		{{>head}}
		
	</head>	
	<body>
		<div class="container"> 
			
			{{>menu}}
			<br/>
			<br/>
			<br/>
			{{>headline}}
			<br/>
			
			{{{body}}}
			
			{{>jsIncludes}}
			
		</div>
	</body>	
</html>
